<div
  class="w-full min-h-fit flex flex-col items-center justify-center p-4 bg-gray-100"
>
  <div class="max-w-md w-full bg-white p-6 shadow-lg">
    <div class="w-full min-h-fit items-center">
      <input-radio
        [question]="question1.label"
        [options]="question1.options!"
        (optionSelected)="onOptionSelected($event)"
      ></input-radio>
      <input-toggle
        [question]="question2.label"
        (valueChange)="onToggleValueChange($event)"
      ></input-toggle>
      <button
        (click)="onNext()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-4 rounded-none mt-1"
      >
        Next
      </button>
    </div>
  </div>
</div>
