yarn-error.log
.DS_STORE

dist/
*.log
node_modules/
.angular/

# IDE
.vscode/

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Ignore .history for the xyz.local-history VSCode extension
.history
