<div
  class="w-full min-h-screen flex flex-col items-center justify-center p-4 bg-gray-100"
>
  <div class="max-w-md w-full bg-white p-6 shadow-lg">
    <ng-container *ngIf="currentPageIndex < questionnaireConfig.pages.length">
      <h2 class="text-2xl font-bold mb-4">
        {{ questionnaireConfig.pages[currentPageIndex].title }}
      </h2>
      <div
        *ngFor="let input of questionnaireConfig.pages[currentPageIndex].inputs"
      >
        <div *ngIf="isInputVisible(input)">
          <ng-container *ngIf="input.type === 'text'">
            <label class="block mb-2">{{ input.label }}:</label>
            <input
              type="text"
              name="{{ input.name }}"
              [(ngModel)]="formData[input.name]"
              [required]="input.required === true"
              class="px-4 py-2 border w-full"
            />
          </ng-container>
          <ng-container *ngIf="input.type === 'checkbox'">
            <label class="block mb-2">
              <input
                type="checkbox"
                name="{{ input.name }}"
                [(ngModel)]="formData[input.name]"
                class="mr-2"
              />
              {{ input.label }}
            </label>
          </ng-container>
          <ng-container *ngIf="input.type === 'radio'">
            <label class="block mb-2">{{ input.label }}</label>
            <div *ngFor="let option of input.options" class="mb-2">
              <label>
                <input
                  type="radio"
                  name="{{ input.name }}"
                  [(ngModel)]="formData[input.name]"
                  [value]="option"
                  class="mr-2"
                />
                {{ option }}
              </label>
            </div>
          </ng-container>
          <ng-container *ngIf="input.type === 'button'">
            <button
              (click)="goToNextPage()"
              class="bg-blue-500 text-white px-4 py-2"
            >
              {{ input.label }}
            </button>
          </ng-container>
        </div>
      </div>

      <div
        *ngIf="!isPageAccessible(questionnaireConfig.pages[currentPageIndex])"
        class="text-red-500 mt-4"
      >
        <p>This page is only accessible based on previous input.</p>
      </div>

      <button
        *ngIf="currentPageIndex > 0"
        (click)="goToPreviousPage()"
        class="block w-full bg-gray-500 text-white px-4 py-2 mt-4"
      >
        Previous
      </button>

      <button
        *ngIf="currentPageIndex === questionnaireConfig.pages.length - 1"
        (click)="onSubmit()"
        class="block w-full bg-green-500 text-white px-4 py-2 mt-4"
      >
        Submit
      </button>
    </ng-container>
  </div>
</div>
